<a href="https://colab.research.google.com/github/Sandwhaletree/Mai_Finlab/blob/main/%E8%82%A1%E7%A5%A8%E8%B2%A1%E5%8B%99%E5%88%86%E6%9E%90/B02_%E5%80%8B%E8%82%A1%E6%97%A5%E6%9C%AC%E7%9B%8A%E6%AF%94%E3%80%81%E6%AE%96%E5%88%A9%E7%8E%87%E5%8F%8A%E8%82%A1%E5%83%B9%E6%B7%A8%E5%80%BC%E6%AF%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### [台灣證券交易所-112年07月28日 個股日本益比、殖利率及股價淨值比](https://www.twse.com.tw/pcversion/zh/page/trading/exchange/BWIBBU_d.html)

In [ ]:

#台灣證券交易所-除權除息計算結果表[獲取一段區間之除權除息計算結果表]
# start_date_str, end_date_str, days=start_date_fun()
https://www.twse.com.tw/rsrc/lib/table/zh.json?_=1690560990904
https://www.twse.com.tw/rsrc/lib/table/zh.json?_=1690560990905

水泥
https://www.twse.com.tw/rsrc/lib/table/zh.json?_=1690560990906
https://www.twse.com.tw/rsrc/lib/table/zh.json?_=1690560990907
https://www.twse.com.tw/rsrc/lib/table/zh.json?_=1690560990908

https://www.twse.com.tw/pcversion/zh/page/trading/exchange/BWIBBU_d

https://www.twse.com.tw/pcversion/zh/page/trading/exchange/MI_INDEX20
#網址
url = f"https://www.twse.com.tw/rwd/zh/exRight/TWT49U?startDate={start_date_str}&endDate={end_date_str}&response=json&_=16902521"
response = requests.get(url)
data = response.json()

#轉成pandas

data = pd.DataFrame(data['data'])

# 更改欄位名稱
new_columns = ['日期', '股票代碼', '股票名稱', '除權息前收盤價', '除權息參考價', '權值+息值', '權/息', '漲停價', '跌停價', '開盤競價基準', '減除股利參考價', '詳細資料1', '詳細資料2', '最近一次申報每股 (單位)淨值', '最近一次申報每股 (單位)盈餘']
data.columns = new_columns

In [2]:
import requests
from io import StringIO
import pandas as pd
import numpy as np

datestr = '20230511' #財報年份，忽略月和日
r = requests.post('https://www.twse.com.tw/exchangeReport/BWIBBU_d?response=csv&date=' + datestr + '&selectType=ALL' )
csv= StringIO( '\n'.join(r.text.split("\n")[1:-17]))  #刪除首行和倒數四行說明文字，只留下表格
df = pd.read_csv( csv )
print(r.text.split("\n")[-17:])  #印出刪除的說明文字，提醒一下注意事項
df

['""\r', '"說明： ', '', '本網頁資料僅供研究參考用途，任何資料均不應視為對買賣證券之投資建議。', '', '\r', '本網頁資料推計基礎如下：\r', '1. 本益比 = 收盤價／每股參考稅後純益，其中每股參考稅後純益 = 該公司稅後參考純益／發行參考股數，當每股參考稅後純益為0或負數時，則不計算本益比。以上純益資料採用各上市公司於公開資訊觀測站過去已申報格式化之近滿4季財務報告為計算基礎。依據一般公認會計準則，若新設公司非於1月1日設立，該公司申報全年度合併財務報表採用自設立日起編製，未追溯自年初編製，當遇有上開公司在計算其「本益比」時，仍採用該公司申報資料計算。例如合庫金控(5880)於100年12月1日設立，在上市初期該公司「本益比」所採計之最近四季稅後純益為自成立以來迄至100年底之稅後純益計算，特此說明。 \r', '2. 殖利率 = 每股股利／收盤價*100%，其中每股股利採用該公司近期每股配發之盈餘分配之現金股利(元/股) + 法定盈餘公積、資本公積發放之現金 (元/股) + 盈餘轉增資股票股利(元/股)為計算基礎。 \r', '3. 股價淨值比 = 收盤價／每股參考淨值，其中每股參考淨值採用公開資訊觀測站公告之最近一季每股參考淨值，於102年5月中旬之前採用該公司最近一季淨值除以除權變動之採樣股數為推計基礎。\r', '4. 股利年度：計算殖利率，所採用上市公司於公開資訊觀測站公告之股利分派年度。(如股利年度為105，表示該公司以105年之盈餘分派股利)\r', '5. 財報年／季：計算本益比及股價淨值比，所參考上市公司於公開資訊觀測站申報之財務報告年度季別。\r', '6. 本網頁所採用發行參考股數是以公開資訊觀測站公告最近一季財務報表之淨值及每股參考淨值為推計基礎，於102年5月中旬之前採用除權變動之採樣股數為推計基礎。上市公司於公開資訊觀測站未申報格式化之財務報告或未齊全者，不計算本益比及股價淨值比或以其申報及相關資料推計。以上本網頁所採用之財務及股利相關資料為計算當時公開資訊觀測站已公告申報格式化之資料，而非同期即時資訊，且不作回溯計算，謹此說明。當日若無收盤價則以本公司營業細則第58-3條第2項第2款之原則所決定價格替代。\r', '7. 股利年度及財報年/季資訊自民國106年4月12日起提供。\r', '8. 股票名稱有附註「*」為每股面額非新台幣10元股票，其本益比、殖利率及股價淨值比之數值自面額變更換發新股即配合調整計算。"\r', '\r', '']

     證券代號  證券名稱  殖利率(%)  股利年度    本益比  股價淨值比  財報年/季  Unnamed: 7
0    1101    台泥    1.31   111  51.62   1.29  111/4         NaN
1    1102    亞泥    5.25   111  12.94   0.97  111/4         NaN
2    1103    嘉泥    2.53   111      -   0.57  112/1         NaN
3    1104    環泥    6.06   111   9.52   0.93  111/4         NaN
4    1108    幸福    4.98   111  11.15   1.32  111/4         NaN
..    ...   ...     ...   ...    ...    ...    ...         ...
969  9944    新麗    4.95   111  10.00   0.66  111/4         NaN
970  9945   潤泰新   19.89   110  12.14   1.41  111/4         NaN
971  9946  三發地產    3.08   111  35.77   0.70  112/1         NaN
972  9955    佳龍    0.00   110      -   1.97  111/4         NaN
973  9958   世紀鋼    0.50   111  62.89   3.34  111/4         NaN

[974 rows x 8 columns]

In [22]:
import requests
from io import StringIO
import pandas as pd
import numpy as np

#https://www.twse.com.tw/rsrc/lib/table/zh.json?  https://www.twse.com.tw/pcversion/zh/page/trading/exchange/MI_INDEX20 https://www.twse.com.tw/pcversion/zh/page/trading/exchange/MI_INDEX20.html
#https://www.twse.com.tw/pcversion/zh/exchangeReport/MI_INDEX20
datestr = '20230511' #財報年份，忽略月和日
r = requests.post('https://www.twse.com.tw/pcversion/zh/exchangeReport/MI_INDEX20?response=csv&date=' + datestr + '&selectType=ALL' )
csv= StringIO( '\n'.join(r.text.split("\n")[:22]))  #刪除首行和倒數四行說明文字，只留下表格
df = pd.read_csv(csv)
print(r.text.split("\n")[23:26])
df

['"符號說明:+/-/X表示漲/跌/不比價"\r', '"本統計資訊含一般、零股、盤後定價、鉅額交易，不含拍賣、標購。"\r', '"ETF證券代號第六碼為K、M、S、C者，表示該ETF以外幣交易。"\r']

                                                                                             112年05月11日成交量前二十名證券
排名 證券代號      證券名稱      成交股數       成交筆數   開盤價   最高價   最低價   收盤價   漲跌(+/-) 漲跌價差 最後揭示買價 最後揭示賣價                  NaN
1  ="00632R" 元大台灣50反1  98,695,748 4,208  5.27  5.32  5.26  5.32  +       0.04 5.31   5.32                    NaN
2  2618      長榮航       97,139,873 25,228 27.90 28.45 27.40 27.65 -       0.35 27.60  27.65                   NaN
3  2610      華航        59,553,125 15,745 19.45 19.65 18.85 18.85 -       0.65 18.85  18.90                   NaN
4  ="00878"  國泰永續高股息   59,118,676 22,426 17.78 17.81 17.72 17.75 NaN     0.00 17.75  17.76                   NaN
5  1609      大亞        55,056,216 24,856 30.90 30.90 28.90 28.95 -       1.95 28.95  29.00                   NaN
6  3231      緯創        47,018,519 20,509 48.00 48.50 47.10 47.50 -       0.60 47.50  47.55                   NaN
7  3481      群創        46,849,707 10,776 13.60 13.65 13.20 13.30 -       0.35 13.25  13.30                   NaN
8  2634      漢翔        41,904,493 18,520 55.30 56.00 53.10 54.00 -       1.30 53.90  54.00                   NaN
9  ="00715L" 期街口布蘭特正2  34,473,676 4,203  12.51 12.65 12.47 12.63 +       0.05 12.62  12.63                   NaN
10 ="00637L" 元大滬深300正2 33,065,598 4,098  15.31 15.48 15.26 15.28 -       0.04 15.28  15.29                   NaN
11 6139      亞翔        32,385,661 20,281 53.60 58.20 52.60 55.70 +       2.60 55.70  55.90                   NaN
12 6285      啟碁        31,062,821 19,553 94.10 94.20 85.80 85.80 -       9.50 0.00   85.80                   NaN
13 1504      東元        28,990,227 14,317 46.20 46.25 44.50 44.95 -       1.75 44.95  45.00                   NaN
14 1905      華紙        28,591,811 13,985 25.30 25.30 23.60 23.60 -       1.85 23.60  23.65                   NaN
15 2324      仁寶        28,359,684 10,273 25.75 25.85 25.55 25.85 +       0.25 25.80  25.85                   NaN
16 2882      國泰金       28,157,576 12,105 43.35 43.70 43.25 43.70 +       0.65 43.65  43.70                   NaN
17 2542      興富發       26,841,777 15,106 41.25 42.40 41.20 42.30 -       0.90 42.25  42.30                   NaN
18 ="00893"  國泰智能電動車   26,476,271 5,279  14.00 14.04 13.99 14.02 +       0.13 14.01  14.02                   NaN
19 ="00665L" 富邦恒生國企正2  25,757,161 2,386  8.09  8.14  7.92  7.92  -       0.10 7.92   7.94                    NaN
20 2883      開發金       25,723,712 7,919  12.90 12.95 12.75 12.80 -       0.15 12.80  12.85                   NaN

In [23]:
datestr = '20230511' #財報年份，忽略月和日
r = requests.post('https://www.twse.com.tw/pcversion/zh/exchangeReport/MI_INDEX20?response=csv&selectType=ALL' )
csv= StringIO( '\n'.join(r.text.split("\n")[:22]))  #刪除首行和倒數四行說明文字，只留下表格
df = pd.read_csv(csv)
print(r.text.split("\n")[23:26])
df

['"符號說明:+/-/X表示漲/跌/不比價"\r', '"本統計資訊含一般、零股、盤後定價、鉅額交易，不含拍賣、標購。"\r', '"ETF證券代號第六碼為K、M、S、C者，表示該ETF以外幣交易。"\r']

                                                                                                    112年07月28日成交量前二十名證券
排名 證券代號      證券名稱      成交股數        成交筆數    開盤價    最高價    最低價    收盤價    漲跌(+/-) 漲跌價差  最後揭示買價 最後揭示賣價                  NaN
1  3231      緯創        209,454,069 101,639 154.00 158.50 146.00 157.00 +       3.00  157.00 157.50                  NaN
2  1905      華紙        192,850,558 78,722  33.50  33.90  30.60  30.75  -       0.75  30.75  30.80                   NaN
3  3481      群創        181,815,511 38,685  16.75  17.00  16.30  16.90  +       0.15  16.85  16.90                   NaN
4  2329      華泰        151,238,626 72,169  45.50  48.20  45.05  48.20  +       4.35  48.15  48.20                   NaN
5  ="00878"  國泰永續高股息   140,774,935 40,929  22.18  22.45  21.90  22.45  +       0.27  22.44  22.45                   NaN
6  2409      友達        139,690,216 35,630  21.40  21.60  20.85  21.25  -       0.15  21.20  21.25                   NaN
7  ="00637L" 元大滬深300正2 119,197,742 13,183  15.19  16.13  15.12  16.05  +       0.63  16.05  16.06                   NaN
8  2301      光寶科       111,259,689 52,043  146.00 159.50 140.00 159.50 +       14.50 159.50 0.00                    NaN
9  2888      新光金       106,210,875 21,813  9.73   9.73   9.51   9.58   -       0.15  9.57   9.58                    NaN
10 2382      廣達        93,328,483  62,532  252.50 264.50 246.50 264.50 +       12.00 264.00 264.50                  NaN
11 2913      農林        93,303,743  34,165  26.10  26.85  24.90  26.35  +       0.85  26.30  26.35                   NaN
12 ="00632R" 元大台灣50反1  90,752,301  3,781   4.70   4.72   4.67   4.68   -       0.01  4.68   4.69                    NaN
13 ="00680L" 元大美債20正2  85,690,838  10,597  10.42  10.52  10.39  10.45  -       0.34  10.44  10.45                   NaN
14 ="0056"   元大高股息     79,647,957  30,372  36.18  36.60  35.82  36.58  +       0.48  36.57  36.58                   NaN
15 2610      華航        61,765,014  19,984  25.70  25.85  25.20  25.45  -       0.50  25.40  25.45                   NaN
16 6282      康舒        56,885,535  34,129  54.40  55.50  53.50  54.90  +       0.50  54.80  54.90                   NaN
17 ="00665L" 富邦恒生國企正2  54,482,158  4,466   7.90   8.46   7.83   8.43   +       0.29  8.42   8.43                    NaN
18 2618      長榮航       53,842,581  18,759  37.75  37.95  37.10  37.55  -       0.30  37.55  37.60                   NaN
19 1802      台玻        53,119,238  16,702  19.55  19.95  19.10  19.80  +       0.50  19.75  19.80                   NaN
20 2027      大成鋼       51,420,690  20,706  39.80  40.25  39.65  39.95  X       0.00  39.95  40.00                   NaN