<a href="https://colab.research.google.com/github/Sandwhaletree/Mai_Finlab/blob/main/A_%E7%94%9F%E6%B4%BB%E6%87%89%E7%94%A8/B4_pandas_merge_230919.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import os
os.chdir('/content/drive/MyDrive/cloud_file/example')

In [ ]:
#開啟檔案:人力部门对员工信息的统计表
file="./company.xlsx"
work1 = pd.read_excel(file,sheet_name=0)
work1

  员工姓名    公司名称 性别 员工状态 员工等级
0   赵一  脑洞有限公司  女   离职   初级
1   钱明  脑洞有限公司  男   离职   初级
2   周元  脑洞有限公司  男   在职   中级
3   李雷  脑洞有限公司  女   离职   中级
4   王七  脑洞有限公司  男   在职   高级
5   赵三  脑洞有限公司  男   离职   高级
6   赵六  脑洞有限公司  女   在职   中级

In [ ]:
#開啟檔案:销售部门对员工销售业绩的统计表
work2 = pd.read_excel(file,sheet_name=1)
work2

  员工姓名   销售业绩   提成收入  基本工资  社保金额   创造收益   是否达标
0   赵一  30000   6000  2500   125  21375  False
1   钱明  20000   4000  2500   125  13375  False
2   周元  50000  10000  2500   125  37375   True
3   李雷  40000   8000  2500   125  29375  False
4   王七  60000  12000  2500   125  45375   True
5   赵三  60000  12000  2500   125  45375   True
6   赵六  50000  10000  2500   125  37375   True

In [ ]:
#合併兩張表 #因為有相同主鍵"員工姓名"，故不須指定主鍵
pd.merge(work2,work1)

  员工姓名   销售业绩   提成收入  基本工资  社保金额   创造收益   是否达标    公司名称 性别 员工状态 员工等级
0   赵一  30000   6000  2500   125  21375  False  脑洞有限公司  女   离职   初级
1   钱明  20000   4000  2500   125  13375  False  脑洞有限公司  男   离职   初级
2   周元  50000  10000  2500   125  37375   True  脑洞有限公司  男   在职   中级
3   李雷  40000   8000  2500   125  29375  False  脑洞有限公司  女   离职   中级
4   王七  60000  12000  2500   125  45375   True  脑洞有限公司  男   在职   高级
5   赵三  60000  12000  2500   125  45375   True  脑洞有限公司  男   离职   高级
6   赵六  50000  10000  2500   125  37375   True  脑洞有限公司  女   在职   中级

#### **參數on**
* 看出有两列列名是一样的，工号和员工姓名
* 发现索引是5的记录虽然员工姓名一样但是工号不一样，有可能一个公司中出现了重名的员工

In [ ]:
#帶工號之销售部门对员工销售业绩的统计表
work3 = pd.read_excel(file,sheet_name=2)
work3

   工号 员工姓名   销售业绩   提成收入  基本工资  社保金额   创造收益   是否达标
0   1   赵一  30000   6000  2500   125  21375  False
1   2   钱明  20000   4000  2500   125  13375  False
2   3   周元  50000  10000  2500   125  37375   True
3   4   李雷  40000   8000  2500   125  29375  False
4   5   王七  60000  12000  2500   125  45375   True

In [ ]:
#帶工號之人力部门对员工信息的统计表
work4 = pd.read_excel(file,sheet_name=3)
work4

   工号 员工姓名    公司名称 性别 员工状态 员工等级
0   1   赵一  脑洞有限公司  女   离职   初级
1   2   钱明  脑洞有限公司  男   离职   初级
2   3   周元  脑洞有限公司  男   在职   中级
3   4   李雷  脑洞有限公司  女   离职   中级
4   8   王七  脑洞有限公司  男   在职   高级
5   6   赵三  脑洞有限公司  男   离职   高级
6   7   赵六  脑洞有限公司  女   在职   中级

In [ ]:
#不指定主鍵
pd.merge(work3,work4) #因預設inner，只有工號&員工姓名相同的，才會合併

   工号 员工姓名   销售业绩   提成收入  基本工资  社保金额   创造收益   是否达标    公司名称 性别 员工状态 员工等级
0   1   赵一  30000   6000  2500   125  21375  False  脑洞有限公司  女   离职   初级
1   2   钱明  20000   4000  2500   125  13375  False  脑洞有限公司  男   离职   初级
2   3   周元  50000  10000  2500   125  37375   True  脑洞有限公司  男   在职   中级
3   4   李雷  40000   8000  2500   125  29375  False  脑洞有限公司  女   离职   中级

In [ ]:
#指定主鍵
pd.merge(work3,work4,on="员工姓名")

,工号_x,员工姓名,销售业绩,提成收入,基本工资,社保金额,创造收益,是否达标,工号_y,公司名称,性别,员工状态,员工等级
0,1,赵一,30000,6000,2500,125,21375,False,1,脑洞有限公司,女,离职,初级
1,2,钱明,20000,4000,2500,125,13375,False,2,脑洞有限公司,男,离职,初级
2,3,周元,50000,10000,2500,125,37375,True,3,脑洞有限公司,男,在职,中级
3,4,李雷,40000,8000,2500,125,29375,False,4,脑洞有限公司,女,离职,中级
4,5,王七,60000,12000,2500,125,45375,True,8,脑洞有限公司,男,在职,高级

#### **参数leftindex和rightindex**
* 考虑用索引作为拼接的主键，leftindex和rightindex默认为False，就是不以索引作为主键，调整为True就可以了

In [ ]:
#建立第一個Series
dow = pd.Series(["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"], name="Day")
dow

0       Sunday
1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
Name: Day, dtype: object

In [ ]:
#將dow轉為DF格式
df_dow = pd.DataFrame(dow)
df_dow

         Day
0     Sunday
1     Monday
2    Tuesday
3  Wednesday
4   Thursday
5     Friday
6   Saturday

In [ ]:
#建立第二個Series
crime = pd.Series(["1", "2", "3", "2", "2", "1", "3"], name="crime_type")
df_crime = pd.DataFrame(crime)
df_crime

  crime_type
0          1
1          2
2          3
3          2
4          2
5          1
6          3

In [ ]:
#有相同index值，合併表格
pd.merge(df_crime,df_dow,left_index=True,right_index=True) #要有相同的key才行合併

  crime_type        Day
0          1     Sunday
1          2     Monday
2          3    Tuesday
3          2  Wednesday
4          2   Thursday
5          1     Friday
6          3   Saturday

#### **参数how**
* how参数控制拼接方式，默认内连接（inner），那么不同的拼接方式对结果有怎样的影响呢，内连接是只将两个表主键一致的信息拼接到一起

In [ ]:
#外连接outer，保留两个表的所有信息，沒有資料則填上NaN
pd.merge(work3,work4,how="outer")

,工号,员工姓名,销售业绩,提成收入,基本工资,社保金额,创造收益,是否达标,公司名称,性别,员工状态,员工等级
0,1,赵一,30000.0,6000.0,2500.0,125.0,21375.0,False,脑洞有限公司,女,离职,初级
1,2,钱明,20000.0,4000.0,2500.0,125.0,13375.0,False,脑洞有限公司,男,离职,初级
2,3,周元,50000.0,10000.0,2500.0,125.0,37375.0,True,脑洞有限公司,男,在职,中级
3,4,李雷,40000.0,8000.0,2500.0,125.0,29375.0,False,脑洞有限公司,女,离职,中级
4,5,王七,60000.0,12000.0,2500.0,125.0,45375.0,True,NaN,NaN,NaN,NaN
5,8,王七,NaN,NaN,NaN,NaN,NaN,NaN,脑洞有限公司,男,在职,高级
6,6,赵三,NaN,NaN,NaN,NaN,NaN,NaN,脑洞有限公司,男,离职,高级
7,7,赵六,NaN,NaN,NaN,NaN,NaN,NaN,脑洞有限公司,女,在职,中级

In [ ]:
#how=left，保留左表所有信息，並把把有相同資訊的右表一併合併，沒有資料則填上NaN
pd.merge(work3,work4,how="left")

   工号 员工姓名   销售业绩   提成收入  基本工资  社保金额   创造收益   是否达标    公司名称   性别 员工状态 员工等级
0   1   赵一  30000   6000  2500   125  21375  False  脑洞有限公司    女   离职   初级
1   2   钱明  20000   4000  2500   125  13375  False  脑洞有限公司    男   离职   初级
2   3   周元  50000  10000  2500   125  37375   True  脑洞有限公司    男   在职   中级
3   4   李雷  40000   8000  2500   125  29375  False  脑洞有限公司    女   离职   中级
4   5   王七  60000  12000  2500   125  45375   True     NaN  NaN  NaN  NaN

In [ ]:
#how=right，保留右表所有信息，並把把有相同資訊的左表一併合併，沒有資料則填上NaN
pd.merge(work3,work4,how="right")

,工号,员工姓名,销售业绩,提成收入,基本工资,社保金额,创造收益,是否达标,公司名称,性别,员工状态,员工等级
0,1,赵一,30000.0,6000.0,2500.0,125.0,21375.0,False,脑洞有限公司,女,离职,初级
1,2,钱明,20000.0,4000.0,2500.0,125.0,13375.0,False,脑洞有限公司,男,离职,初级
2,3,周元,50000.0,10000.0,2500.0,125.0,37375.0,True,脑洞有限公司,男,在职,中级
3,4,李雷,40000.0,8000.0,2500.0,125.0,29375.0,False,脑洞有限公司,女,离职,中级
4,8,王七,NaN,NaN,NaN,NaN,NaN,NaN,脑洞有限公司,男,在职,高级
5,6,赵三,NaN,NaN,NaN,NaN,NaN,NaN,脑洞有限公司,男,离职,高级
6,7,赵六,NaN,NaN,NaN,NaN,NaN,NaN,脑洞有限公司,女,在职,中级

#### **参数lefton和righton**
* 有的时候还会有这种情况，两个表里没有完全一致的列名，但是有信息一致的列，例如下边这种情况，都有"员工姓名"这一列，但是名字不一样

In [ ]:
work5 = pd.read_excel(file,sheet_name=4)
work5

   工号  姓名    公司名称 性别 员工状态 员工等级
0   1  赵一  脑洞有限公司  女   离职   初级
1   2  钱明  脑洞有限公司  男   离职   初级
2   3  周元  脑洞有限公司  男   在职   中级
3   4  李雷  脑洞有限公司  女   离职   中级
4   8  王七  脑洞有限公司  男   在职   高级
5   6  赵三  脑洞有限公司  男   离职   高级
6   7  赵六  脑洞有限公司  女   在职   中级

In [ ]:
work3

   工号 员工姓名   销售业绩   提成收入  基本工资  社保金额   创造收益   是否达标
0   1   赵一  30000   6000  2500   125  21375  False
1   2   钱明  20000   4000  2500   125  13375  False
2   3   周元  50000  10000  2500   125  37375   True
3   4   李雷  40000   8000  2500   125  29375  False
4   5   王七  60000  12000  2500   125  45375   True

In [ ]:
pd.merge(work3,work5,left_on="员工姓名",right_on="姓名")

,工号_x,员工姓名,销售业绩,提成收入,基本工资,社保金额,创造收益,是否达标,工号_y,姓名,公司名称,性别,员工状态,员工等级
0,1,赵一,30000,6000,2500,125,21375,False,1,赵一,脑洞有限公司,女,离职,初级
1,2,钱明,20000,4000,2500,125,13375,False,2,钱明,脑洞有限公司,男,离职,初级
2,3,周元,50000,10000,2500,125,37375,True,3,周元,脑洞有限公司,男,在职,中级
3,4,李雷,40000,8000,2500,125,29375,False,4,李雷,脑洞有限公司,女,离职,中级
4,5,王七,60000,12000,2500,125,45375,True,8,王七,脑洞有限公司,男,在职,高级

#### 正則表達式

In [ ]:
import re
role = re.compile(r'\d\d\d')       # 連續三個數字
result = role.search('abc123xyz994d')  # 使用 search 方法，使用建立的規則，搜尋 abc123xyz
print(result.group())

123

In [ ]:
import re
role = re.compile(r'hello', flags=re.I)  # 匹配 hello，不論大小寫
result = role.search('HeLlo World')
print(result.group())                    # HeLlo

HeLlo

In [ ]:
import re
role = re.compile(r'hello', flags=re.I)
result_search = role.search('HeLlo World, Hello oxxo') #尋找第一個匹配的字元，有匹配回傳 None
result_match =00('HeLlo World, Hello oxxo') #從開頭開始，尋找第一個匹配的字元
result_fullmatch1 = role.fullmatch('HeLlo World, Hello oxxo') #回傳整個字串都匹配的結果
result_fullmatch2 = role.fullmatch('HeLlo') #回傳整個字串都匹配的結果
result_split = role.split('HeLlo World, Hello oxxo') #使用匹配的字串，將原始字串分割為串列。
result_findall = role.findall('HeLlo World, Hello oxxo') #找出全部匹配的字串，回傳為一個串列。
result_finditer = role.finditer('HeLlo World, Hello oxxo') #	找出全部匹配的字串，回傳為一個迭代器物件。
result_sub = role.sub('oxxo','HeLlo World, Hello oxxo') #從 string 找出全部匹配的字串，並使用 repl 的字串取代，count 預設 0 表示全部取代，設定次數可指定取代的個數。

print("result_search:",result_search)          # <re.Match object; span=(0, 5), match='HeLlo'>
print("result_match",result_match)           # <re.Match object; span=(0, 5), match='HeLlo'>
print("result_fullmatch1",result_fullmatch1)      # None
print("result_fullmatch2",result_fullmatch2)      # <re.Match object; span=(0, 5), match='HeLlo'>
print("result_split",result_split)           # ['', ' World, ', ' oxxo']
print("result_findall",result_findall)         # ['HeLlo', 'Hello']
print("result_finditer",list(result_finditer))  # [<re.Match object; span=(0, 5), match='HeLlo'>, <re.Match object; span=(13, 18), match='Hello'>]
print("result_sub",result_sub)             # oxxo World, oxxo oxxo

result_search: <re.Match object; span=(0, 5), match='HeLlo'>
result_match <re.Match object; span=(0, 5), match='HeLlo'>
result_fullmatch1 None
result_fullmatch2 <re.Match object; span=(0, 5), match='HeLlo'>
result_split ['', ' World, ', ' oxxo']
result_findall ['HeLlo', 'Hello']
result_finditer [<re.Match object; span=(0, 5), match='HeLlo'>, <re.Match object; span=(13, 18), match='Hello'>]
result_sub oxxo World, oxxo oxxo

In [ ]:
line = 'the quick brown fox jumped over a lazy dog'
regex = re.compile('\s+')
regex.split(line)

['the', 'quick', 'brown', 'fox', 'jumped', 'over', 'a', 'lazy', 'dog']

In [ ]:
for s in [" ", "abc ", " abc"]:
     if regex.match(s):
         print(repr(s), "matches")
     else:
         print(repr(s), "does not match")

' ' matches
'abc ' does not match
' abc' matches

In [ ]:
line = 'the quick brown fox jumped over a lazy dog'
regex = re.compile('fox')
match = regex.search(line)
match.start()

16

In [ ]:
regex.sub('BEAR', line)

'the quick brown BEAR jumped over a lazy dog'

In [ ]:
text = "To email Guido, try guido@python.org or the older address "\
         "guido@google.com."
email = re.compile('\w+@\w+\.[a-z]{3}')
email.findall(text)

#我們可以進行進一步的操作，像是把電子郵件地址換成其他的字元串，達到保護個資的作用
email.sub('--@--.--', text)

'To email Guido, try --@--.-- or the older address --@--.--.'

In [ ]:
regex = re.compile(r'\$')      #r表明是一個原始字串(raw string)，\代表特殊的字元
regex.findall("the cost is $20")

print('a\tb\tc')     #\t是代表tab作用
print(r'a\tb\tc')    #在原始字串中不會作用

a	b	c
a\tb\tc

In [ ]:
#匹配1個英文+1個數字 ex:A4
regex = re.compile('[A-Z][0-9]')
regex.findall('1043879, G2, H6')

['G2', 'H6']

In [ ]:
#匹配3個字母或3個數字的字串 ex:DAD AFD
regex = re.compile(r'\w{3}')
regex.findall('The quick brown fox')

['The', 'qui', 'bro', 'fox']

In [ ]:
#匹配1個字母或1個數字；+會匹配前面字元出現1或多次重複的情形
regex = re.compile(r'\w+')
regex.findall('The quick brown fox')

['The', 'quick', 'brown', 'fox']

In [ ]:
#匹配1個字母或1個數字；+會匹配前面字元出現1或多次重複的情形
regex = re.compile(r'\fo?')
regex.findall('The quick brown fox')

[]

In [ ]:
email2 = re.compile(r'[\w.]+@\w+\.[a-z]{3}')
email2.findall('barack.obama@whitehouse.gov')

['barack.obama@whitehouse.gov']

In [ ]:
email3 = re.compile(r'([\w.]+)@(\w+)\.([a-z]{3})')
text = "To email Guido, try guido@python.org or the older address "\
"guido@google.com."
email3.findall(text)

[('guido', 'python', 'org'), ('guido', 'google', 'com')]

In [ ]:
email4 = re.compile(r'(?P<user>[\w.]+)@(?P<domain>\w+)'\
                       '.(?P<suffix>[a-z]{3})')
match = email4.match('guido@python.org')
match.groupdict()

{'user': 'guido', 'domain': 'python', 'suffix': 'org'}

In [ ]:
result = re.match("He","Hello World")
if not result:
    print("Keyword not found")
print("Match!")

Match!

In [ ]:
def phone(text):
  if len(text) != 12: #電話號碼長度不對，則回傳"False"
    return False
  for i in range(0,3):
      if not text[i].isdecimal(): #檢查前3位否為數字
        return False
  if text[3] != '-': #第四位若非"-"，則回傳"False"
        return False
  for i in range(4,7): #檢查前5-7位否為數字
    if not text[i].isdecimal():
      return False
  if text[7] != '-': #第八位若非"-"，則回傳"False"
    return False
  for i in range(9,12): #檢查前10-12位否為數字
    if not text[i].isdecimal():
      return False
  return True

In [ ]:
print('415-555-4242 is a phone number:')
print(phone('415-555-4242' ) )
print('Moshi moshi is a phone number:')
print(phone('Moshi moshi'))

415-555-4242 is a phone number:
True
Moshi moshi is a phone number:
False

In [ ]:
phoneRegex = re.compile(r'\d\d\d-\d\d\d-\d\d\d\d') #指定正規模式，並儲存Regex物件至變數
mo = phoneRegex.search('415-555-4242 is a phone number') #物件.search()，若有則回傳match物件
print(mo.group()) #match物件.group()=回傳對比符合之文字

415-555-4242

In [ ]:
#使用括號
phoneRegex = re.compile(r'(\d\d\d)-(\d\d\d-\d\d\d\d)') #指定正規模式，並儲存Regex物件至變數
mo = phoneRegex.search('415-555-4242 is a phone number') #物件.search()，若有則回傳match物件
print('mo.group():',mo.group()) #回傳整個符合文字
print('mo.group(0):',mo.group(0)) #回傳整個符合文字
print('mo.group(1):',mo.group(1)) #回傳第一組
print('mo.group(2):',mo.group(2)) #回傳第二組
print('mo.groups():',mo.groups()) #一次取得所有分組

mo.group(): 415-555-4242
mo.group(0): 415-555-4242
mo.group(1): 415
mo.group(2): 555-4242
mo.groups(): ('415', '555-4242')

In [ ]:
#使用括號
phoneRegex = re.compile(r'(\(\d\d\d\)) (\d\d\d-\d\d\d\d)') #指定正規模式，並儲存Regex物件至變數
mo = phoneRegex.search('(415) 555-4242 is a phone number') #物件.search()，若有則回傳match物件
print('mo.group():',mo.group()) #回傳整個符合文字
print('mo.group(0):',mo.group(0)) #回傳整個符合文字
print('mo.group(1):',mo.group(1)) #回傳第一組
print('mo.group(2):',mo.group(2)) #回傳第二組
print('mo.groups():',mo.groups()) #一次取得所有分組

mo.group(): (415) 555-4242
mo.group(0): (415) 555-4242
mo.group(1): (415)
mo.group(2): 555-4242
mo.groups(): ('(415)', '555-4242')

In [ ]:
#比對多個分組 ex:尋找Batman或Tina Fey
heroRegex = re.compile (r'Batman|Tina Fey')
mo1 = heroRegex.search('Batman and Tina Fey.')
mo1.group() #回傳整個符合文字

'Batman'

In [ ]:
mo2 = heroRegex.search('Tina Fey and Batman.')
mo2.group()

'Tina Fey'

In [ ]:
batRegex= re.compile(r'Bat(man|mobile|copter|bat)')
mo = batRegex. search('Batmobile lost a wheel')
print("mo.group():",mo.group())
print("mo.group(1):",mo.group(1)) #返回第一個括號分組內比對符合文字mobile

mo.group(): Batmobile
mo.group(1): mobile

In [ ]:
#?=可要與不要>(wo)可要可不要
batRegex= re.compile(r'Bat(wo)?man')
mo1 = batRegex.search('The Adventures of Batman')
mo1.group()

'Batman'

In [ ]:
mo2 = batRegex.search('The Adventures of Batwoman')
mo2.group()

'Batwoman'

In [ ]:
batRegex= re.compile(r'Bat(wo)*man')
mo1 = batRegex. search('The Adventures of Batman')
mo1.group()

'Batman'

In [ ]:
mo2 = batRegex. search('The Adventures of Batwoman')
mo2.group()

'Batwoman'

In [ ]:
mo3 = batRegex. search('The Adventures of Batwowowowoman')
mo3.group()

'Batwowowowoman'

In [ ]:
batRegex= re.compile(r'Bat(wo)+man')
mo1 = batRegex. search('The Adventures of Batwoman')
mo1.group()

'Batwoman'

In [ ]:
mo2 = batRegex. search('The Adventures of Batwowoman')
mo2.group()

'Batwowoman'

In [ ]:
mo3 = batRegex. search('The Adventures of Batman')
mo3 = None

In [ ]:
#貪婪模式
greedyHaRegex = re.compile(r'(Ha){3,5}')
mo1 = greedyHaRegex.search('HaHaHaHaHa')
mo1.group()

'HaHaHaHaHa'

In [ ]:
#非貪婪模式
nongreedyHaRegex= re.compile(r'(Ha){3,5}?')
mo2 = nongreedyHaRegex.search('HaHaHaHaHa')
mo2.group()

'HaHaHa'

In [ ]:
#finall()，返回所有符合之字串
phoneNumRegex = re.compile(r'\d\d\d-\d\d\d-\d\d\d\d') # has no groups
phoneNumRegex.findall ('Cell: 415-555-9999 Work : 212-555-0000')

['415-555-9999', '212-555-0000']

In [ ]:
#有分組 #finall()，返回所有符合之一個多元組的串列
phoneNumRegex = re.compile(r'(\d\d\d)-(\d\d\d)-(\d\d\d\d)') # has groups
phoneNumRegex. findall('Cell : 415-555-9999 Work: 212-555-0000')

[('415', '555', '9999'), ('212', '555', '0000')]

In [ ]:
xmasRegex = re.compile(r'\d+\s\w+')
xmasRegex.findall('12 drummers, 11 pipers, 10 lords, 9 ladies, 8 maids, 7 swans,6 geese, 5 rings, 4 birds, 3 hens, 2 doves, 1 partridge')

['12 drummers',
 '11 pipers',
 '10 lords',
 '9 ladies',
 '8 maids',
 '7 swans',
 '6 geese',
 '5 rings',
 '4 birds',
 '3 hens',
 '2 doves',
 '1 partridge']

In [ ]:
vowelRegex = re.compile(r'[aeiouAEIOU]')
vowelRegex.findall('Robocop eats baby food. BABY FOOD. ')

['o', 'o', 'o', 'e', 'a', 'a', 'o', 'o', 'A', 'O', 'O']

In [ ]:
vowelRegex = re.compile(r'[^aeiouAEIOU]')
vowelRegex.findall('Robocop eats baby food. BABY FOOD. ')

['R',
 'b',
 'c',
 'p',
 ' ',
 't',
 's',
 ' ',
 'b',
 'b',
 'y',
 ' ',
 'f',
 'd',
 '.',
 ' ',
 'B',
 'B',
 'Y',
 ' ',
 'F',
 'D',
 '.',
 ' ']

In [ ]:
beginsWithHello = re.compile(r'^Hello')
beginsWithHello.search('Hello world!')

In [ ]:
beginsWithHello.search('He said Hello .')

In [ ]:
endsWithNumber = re.compile(r'\d$') #找出0-9為結尾的字串
endsWithNumber. search('Your number is 42')

In [ ]:
endsWithNumber.search('Your number is forty two.') == None

True

In [ ]:
wholeStringIsNum = re.compile(r'^\d+$') #對比開頭到結尾都是數字0-9之字串
wholeStringIsNum.search('1234567890')

In [ ]:
wholeStringIsNum.search('12345xyz67890') == None

True

In [ ]:
wholeStringIsNum.search('12 34567890') == None

True

In [ ]:
namesRegex = re.compile(r'Agent lwt')
namesRegex.sub('CENSORED', 'Agent Alice gave the secret documents to Agent Bob.')

'Agent Alice gave the secret documents to Agent Bob.'

In [ ]:

'CENSORED gave the secret documents to CENSORED.'
事時可能會需要用到比對找到的文字本身作為取代的一部分,因此在sub(
每一個引數中可輸入1·2、3·等等,這個意思是「輸入分組1、2.3..等
的文字當作替換取代的文字」。
例來說,假設想要刪改隱藏密探的名字,只顯示名字的第一個字母,那就要
使用正規表示式 Agentww先到探名字·作第一個引
傳入subo中。字內的以分組找到符合的字母當作取代的文字,
組1就是正規表示式中的(w)組。
>>> agentNamesRegex= re.compile(I'Agent (1w)lw*')
>>> agentNamesRegex.sub(I'|1****', ', 'Agent Alice told Agent Carol that Agent Eve knew
Agent Bob was a double agent.')

In [ ]:
import re
phoneRegex = re.compile(r'''(
  (\d{3}|\(\d{3}\))?  #area code
  (\s|-|\.)? #separator
  \d{3} # first3 digits
  (\s|-|\.) # separator
  \d{4} # last 4 digits
  (\s*(ext|x|ext.)\s*\d{2,5})? #extension
  )''',re.VERBOSE)